@media screen and (max-width: 899px) {
    .grid-range-bar,
    .wages-display {
        visibility: hidden;
        /*position: absolute;*/
    }

}

@media screen and (min-width: 900px) {
    .grid-range-bar,
    .wages-display {
        position: relative;
        visibility: visible;
    }


}

.grid-range-bar {
    width: 100%;
    height: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
    margin-bottom: 20px;
}

/* Thumb styles */
.grid-range-bar .thumb {
    width: 20px;
    height: 20px;
    background-color: #007bff;
    position: absolute;
    top: -5px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, transform 0.3s;
    z-index: 2;
}

/* Adjust the inner thumb position */
.grid-range-bar #thumb1 {
    left: calc(55% - 10px);
}

/* Adjust the outer thumb position */
.grid-range-bar #thumb2 {
    left: calc(75% - 10px);
}

/* Thumb hover effect */
.grid-range-bar .thumb:hover {
    background-color: #0056b3;
}

/* Thumb active effect */
.grid-range-bar .thumb:active {
    transform: scale(1.1);
}

/* Thumb border */
.grid-range-bar .thumb {
    border: 2px solid #fff;
    box-sizing: border-box;
}

/* Thumb shadow */
.grid-range-bar .thumb {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}



/* Adjust thumb cursor style */
.grid-range-bar .thumb {
    cursor: grab;
}

/* Change cursor style on thumb hover */
.grid-range-bar .thumb:hover {
    cursor: grabbing;
}

/* Add a transition to smooth thumb movement */
.grid-range-bar .thumb {
    transition: left 0.2s ease;
}

.wages-display {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.wage {
    box-sizing: border-box;
    flex-basis: calc(100% / 9);
    text-align: center;
}