.grid-range-bar {
    width: 50%;
    height: 10px;
    background-color: #ddd;
    position: relative;
    margin-bottom: 20px;
}

.grid-range-bar .thumb {
    width: 10px;
    height: 20px;
    background-color: #007bff;
    position: absolute;
    top: -5px;
    border-radius: 5px;
    cursor: pointer;
}