{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Index.HTML</h1>

    <h2>Authentication</h2>
    <div>
        {% if user.is_authenticated %}
            <p>USER -> {{ user.username }}</p>
            <a href="{% url 'sign_out' %}">Sign Out</a>
        {% else %}
            <a href="{% url 'sign_in' %}">Sign In</a>
            <a href="{% url 'sign_up' %}">Sign Up</a>
        {% endif %}
    </div>

    <h2>Functionality</h2>

    {% if user.is_authenticated %}
        <a href="{% url 'dashboard' %}">Dashboard</a>
    {% endif %}

    {% if user.is_staff %}
        <a href="{% url 'control_panel' %}">Control Panel</a>
    {% endif %}

    <h2>Catalogs</h2>
    <a href="{% url 'projects_catalog' %}">Projects</a>
    <a href="{% url 'job_offers_catalog' %}">Job Offers</a>
    <a href="https://google.com">RANDOM</a>


</body>
</html>