@media screen and (max-width: 349px) {
    .job-offer {
        flex-wrap: wrap;
        justify-content: center;
        gap: 16px;

    }

    .job-offer__extra-info .separator {
        display: none;
    }
}

@media screen and (max-width: 499px) {
    .job-offer__salary-range,
    .job-offer__remote-option,
    .job-offer__details-location,
    .separator {
        display: none;
    }
}

@media screen and (min-width: 500px) { 
    .job-offer__remote-option,
    .job-offer__salary-range,
    .job-offer__details-location  {
        display: flex;
    }
}

@media screen and (max-width: 799px) {
    .listing-list {
        width: 90%;
    }
}

@media screen and (min-width: 800px) {
    .listing-list {
        width: 70%;
    }
}

@media screen and (max-width: 999px) {
    .job-offer__controls {
        display: none;
    }

    .job-offer__content {
        grid-template-columns: 1fr; 
        grid-template-areas: 
            "details"
            "extra-info"; 
    }
}
@media screen and (min-width: 1000px) {
    .job-offer__controls {
        display: flex;
    }

    .job-offer__content {
        grid-template-columns: 4fr 1fr; 
        grid-template-areas: 
            "details controls"
            "extra-info controls";
    }
}

.listing-list {
    display: flex;
    flex-direction: column;
   
    gap: 32px;
    /* background-color: lightcoral; */
    margin: auto auto;
}

.job-offer {
    display: flex;
    padding: 24px;
    border: 1px solid var(--clr-gray-500);
    border-radius: 4px;
}

.job-offer__company-logo {
    display: flex;
    justify-content: center; 
    align-items: center; 
    position: relative;
    width: 100px; 
    height: 100px; 
    border-radius: 50%;
    overflow: hidden; 
}

.job-offer__company-logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center; 
}

/* Job offer Content */
.job-offer__content {
    width: 100%;
    display: grid;
    box-sizing: border-box;
    
    grid-gap: 16px; /* Gap between grid items */
    padding-left: 16px;
    padding-right: 16px;
}

.job-offer__details {
    grid-area: details;
}
.job-offer__extra-info {
    grid-area: extra-info;    
}

.job-offer__controls {
   grid-area: controls;
}

/* Job offer details  */
.job-offer__details {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    gap: 8px;
}

.job-offer__details-title {
    width: 100%;

    font-weight: 500;
    font-size: var(--size-body-large);
}

.job-offer__details-company-name,
.job-offer__details-location {
    color: var(--clr-gray-500);
}

.job-offer__details .separator {
    font-variation-settings:
        'FILL' 1,
        'wght' 100,
        'GRAD' 0,
        'opsz' 24;
    font-size: 16px;
    color: var(--clr-gray-600);
}

.job-offer__details-location {
    justify-content: center;
    align-items: center;
    gap: 8px;
}

/* Job offer extra info */

.job-offer__extra-info {
    /* visibility: hidden; */
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-evenly; */
    width: 100%;
    gap: 16px;
    align-items: center;
}

/* Job offer controls */

.job-offer__controls {
    height: 100%;
    flex-wrap: wrap;
    gap: 8px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

.job-offer__details-link {
    width: 100%;
    background-color: royalblue;
    text-align: center;
    padding: 16px;
    text-transform: capitalize;
    text-decoration: none;
    border-radius: 4px;
    color: var(--clr-white);
} 

.job-offer__details-link.more {
    background-color: var(--clr-primary-50);
    color: var(--clr-primary-500);
}

/* General styling */

.job-offer__work-commitment,
.job-offer__salary-range,
.job-offer__work-environment,
.job-offer__remote-option {
    padding: 8px 12px;
    font-size: var(--size-body-medium);
    border-radius: 12px;
}

.job-offer__work-commitment {
    color:  #00C69E;
    background-color: #C8FCEA;
}

.job-offer__salary-range {
    border: 1px solid #5313E2;
    color: #5313E2;
}

.job-offer__work-environment {
    border: 1px solid #FF0072;
    color: #FF0072;
}

.job-offer__remote-option {
    border: 1px solid #FF7447;
    color: #FF7447;
}