@media screen and (max-width: 540px) {
    .listing-list {
        width: 90%;
    }

    .project {
        flex-wrap: wrap;
        justify-content: center;
    }

    .project__user {
        flex: 1;
        margin-right: 0px;
    }

    .project__meta .project__separator {
        display: none;
    }

    .project__user-image {
        margin-bottom: 16px;
    }

    .project__user-image img {
        margin: auto;
    }

    .project__duration {
        display: none;
    }

    .project__wage,
    .project__updated-date {
        display: flex;
        justify-content: center;
    }

    .project__meta {
        flex: 1;
        justify-content: center;
        gap: 16px;
    }

    .project__description {
        display: none;
    }
}

@media screen and (min-width: 541px) and (max-width: 720px) {
    .listing-list {
        width: 70%;
    }

    .project__duration,
    .project__updated-date {
        display: none;
    }

    .project__meta {
        gap: 8px;
    }
    

    .project__wage {
        display: flex;
        margin-right: 0px;
    }

    .project__user {
        margin-right: 32px;
    }
}

@media screen and (min-width: 721px) {
    .listing-list {
        width: 70%;
    }

    .project__status,
    .project__wage,
    .project__duration,
    .project__updated-date {
        display: flex;
        align-items: center;
        justify-self: center;
    }

    .project__meta .project__separator {
        padding-right: 8px;
        padding-left: 8px;
    }

    .project__wage,
    .project__duration,
    .project__updated-date {
        margin-right: 32px;
    }


    .project__user {
        margin-right: 32px;
    }

    .project__meta {
        gap: 8px;

    }
}

.project-info {
    display: flex;
}


.listing-list {
    display: flex;
    flex-direction: column;
    margin: auto auto;

    gap: 32px;
    margin: auto auto 16px;
}

.project {
    display: flex;
    padding: 24px;
    border: 1px solid var(--clr-gray-500);
    border-radius: 4px;
}

.project:hover {
    box-shadow: 0 8px 20px rgba(10, 101, 204, 0.1); 
}

.project__user-image img {
    display: flex;
    justify-content: center; 
    align-items: center; 
    position: relative;
    width: 120px; 
    height: 120px; 
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden; 
}

.project__user-info {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    gap: 4px;
    color: var(--clr-gray-500);
}

.project__title {
    font-size: var(--size-heading-4);
    margin-bottom: 24px;
}

.project__meta {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 16px;
}

.project__status,
.project__wage,
.project__duration,
.project__updated-date {
    align-items: center;
    justify-self: center;
    box-sizing: border-box;
    text-align: center;
    font-size: var(--size-body-large);
}

.project__user-info .project__separator {
    font-variation-settings:
        'FILL' 1,
        'wght' 100,
        'GRAD' 0,
        'opsz' 24;
    font-size: 16px;
}

.project__description {
    overflow: hidden; 
    max-height: 80px;
}

.project__meta .project__icon i {
    font-variation-settings:
        'FILL' 0,
        'wght' 100,
        'GRAD' 1,
        'opsz' 32;
    font-size: 32px;
    margin-right: 4px;
}

.project__status {
    padding: 8px 12px;
    font-size: var(--size-body-medium);
    border-radius: 12px;
}

.project__wage i {    
    color: #FF0076;
}

.project__duration i {
    color: #6000C6;
}

.project__updated-date i {
    color: #0065FF;
}

.project__status.--open {
    color:  #00C69E;
    background-color: #C8FCEA;
}

.project__status.--in-progress {
    border: 1px solid #FF7447;
    color: #FF7447;
}

.project__status.--completed {
    border: 1px solid #5313E2;
    color: #5313E2;
}
