
@media screen and (max-width: 599px) {
    .header__container {
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 16px;
    }

    .header__content {
        box-sizing: border-box;
    }

    .header__title {
        font-size: var(--size-heading-1);
        width: 100%;
        max-width: 350px;
        margin-bottom: 24px;
    }

    .header__description {
        color: var(--clr-gray-600);
        margin-bottom: 32px;

        max-width: 380px;
    }

    .header__title,
    .header__description {
        padding-left: 8px;
        padding-right: 8px;
    }

    .header__form {
        padding: 8px;
        background-color: var(--clr-white);
        border-radius: 8px;
        border: 1px solid var(--clr-gray-200);
    }

    .header__form form {
        display: flex;
        flex-wrap: wrap;
        position: relative;

        gap: 4px;
        box-sizing: border-box;
    }

    .header__form__icon {
        position: absolute;
        top: 24px;
        left: 8px;
        color: var(--clr-primary-500);
        transform: translateY(-50%);
    }

    .header__form #industries_search {
        flex: 3;
        padding: 16px 8px 16px 36px;
        min-width: 180px;
        font-size: var(--size-body-medium);
        border: none;
    }

    .header__search-button {
        flex: 1;
        padding-top: 8px;
        padding-bottom: 8px;
    }

    .header__career-data-dashboard { 
        padding-left: 2.5%;
        padding-right: 2.5%;
        padding-bottom: 16px;
        box-sizing: border-box;
        gap: 16px;

        display: flex;
        width: 100%;

        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .header__career-data-dashboard-item {
        background-color: var(--clr-white);
        border-radius: 8px;
        padding: 20px;
        flex: 1;
        min-width: 160px;

        display: grid;
        grid-template-areas: 
            "item-icon title"
            "item-icon description";
        grid-template-columns: auto 1fr;
        grid-template-rows: auto auto;
    }

    .header__career-data-dashboard-item .header__career-data-dashboard-icon {
        grid-area: item-icon;
        align-self: center;
        background-color: var(--clr-primary-50);
        color: var(--clr-primary-500);
        padding: 16px;
        font-size: 24px;
        margin-right: 16px;
        align-self: center;
        border-radius: 8px;
    }

    .header__career-data-dashboard-item:hover .header__career-data-dashboard-icon {
        background-color: var(--clr-primary-500);
        color: white;
        transition: background-color 0.3s ease, color 0.3s ease; /* Add transition effect */
    }

    .header__career-data-dashboard .header__career-data-dashboard-title {
        grid-area: title;
        align-self: center;
        font-weight: 400;
        font-size: var(--size-body-xl);
    }

    .header__career-data-dashboard .header__career-data-dashboard-description {
        grid-area: description;
        align-self: center;
        font-weight: 200;
        font-size: var(--size-body-medium);
    }

    .header__image {
        display: none;
    }
}

/* Styles for screens between 600px and 1023px */
@media screen and (min-width: 600px) and (max-width: 1023px) {
    .header__container {
        box-sizing: border-box;
        display: flex;
        justify-content: space-evenly;

        padding-left: 10%;
        padding-right: 10%;
        padding-bottom: 16px;
    }

    .header__content {
        width: 60%;
        box-sizing: border-box;
    }

    .header__title {
        font-size: var(--size-heading-1);
        margin-bottom: 24px;
    }

    .header__description {
        color: var(--clr-gray-600);
        margin-bottom: 32px;
    }

    .header__title,
    .header__description {
        padding-left: 8px;
        padding-right: 8px;
    }

    .header__form {
        padding: 8px;
        background-color: var(--clr-white);
        border-radius: 8px;
        border: 1px solid var(--clr-gray-200);
    }

    .header__form form {
        display: flex;
        position: relative;
        gap: 4px;
        box-sizing: border-box;
    }

    .header__form #industries_search {
        flex: 3;
        padding: 16px 8px 16px 36px;
        font-size: var(--size-body-medium);
        border: none;
    }

    .header__search-button {
        flex: 1;
        padding-top: 8px;
        padding-bottom: 8px;
    }

    .header__form__icon {
        position: absolute;
        top: 50%;
        left: 8px;
        color: var(--clr-primary-500);
        transform: translateY(-50%);
    }

    .header__image {
        width: 35%;
    }

    .header__image-src {
        width: 100%;
        height: fit-content;
    }

    .header__career-data-dashboard {
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 16px;

        padding-left: 10%;
        padding-right: 10%;
        box-sizing: border-box;
        gap: 16px;
    }

    .header__career-data-dashboard-item {
        width: 40%;
        background-color: var(--clr-white);
        display: grid;
        padding: 20px;
        border-radius: 8px;

        grid-template-areas: 
            "item-icon title"
            "item-icon description";
        grid-template-columns: auto 1fr; /* Adjusted column widths */
        grid-template-rows: auto auto; /* Adjusted row heights */
    }
 
    .header__career-data-dashboard-item .header__career-data-dashboard-icon {
        grid-area: item-icon;
        background-color: var(--clr-primary-50);
        color: var(--clr-primary-500);
        border-radius: 8px;
        padding: 16px;
        font-size: 32px;
        margin-right: 16px;
        align-self: center;
    }

    .header__career-data-dashboard-item:hover .header__career-data-dashboard-icon {
        background-color: var(--clr-primary-500);
        color: white;
        transition: background-color 0.3s ease, color 0.3s ease; /* Add transition effect */
    }
      
    .header__career-data-dashboard-item .header__career-data-dashboard-title {
        grid-area: title;
        font-size: var(--size-heading-4);
        font-weight: 400;
        align-self: center;
    }
    
    .header__career-data-dashboard-item .header__career-data-dashboard-description {
        grid-area: description;
        font-size: var(--size-body-medium);
        font-weight: 200;
        align-self: center;
    }
}

/* Styles for screens above 1024px */
@media screen and (min-width: 1024px) {
    .header__container {
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        padding-left: 10%;
        padding-right: 10%;
        margin-bottom: 32px;
    }

    .header__content {
        width: 50%;
    }

    .header__title {
        font-size: var(--size-heading-1);
        width: 450px;
        margin-bottom: 24px;
    }

    .header__description {
        color: var(--clr-gray-600);
        margin-bottom: 32px;
        width: 480px;
    }

    .header__title,
    .header__description {
        padding-left: 8px;
        padding-right: 8px;
    }

    .header__form {
        background-color: var(--clr-white);
        padding: 8px;
        border-radius: 8px;
        border: 1px solid var(--clr-gray-200);
    }

    .header__form form {
        display: flex;
        position: relative;
        gap: 4px;
        box-sizing: border-box;
    }

    .header__form #industries_search {
        flex: 4;
        padding: 16px 8px 16px 36px;
        font-size: var(--size-body-medium);
        border: none;
    }

    .header__search-button {
        flex: 1;
    }

    .header__form__icon {
        position: absolute;
        top: 50%;
        left: 8px;
        color: var(--clr-primary-500);
        transform: translateY(-50%);
    }

    .header__image {
        width: 35%;
    }

    .header__image-src {
        width: 100%;
    }

    .header__career-data-dashboard {
        padding-left: 2.5%;
        padding-right: 2.5%;
        box-sizing: border-box;

        padding-bottom: 16px;
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        flex-wrap: wrap; /* Allow items to wrap to the next line */
    }
    
    .header__career-data-dashboard-item {
        background-color: var(--clr-white);
        width: 20%;
        padding: 20px;
        margin-bottom: 16px; /* Add some space between items */
        display: grid;
        border-radius: 8px;
        grid-template-areas: 
            "item-icon title"
            "item-icon description";
        grid-template-columns: auto 1fr; /* Adjusted column widths */
        grid-template-rows: auto auto; /* Adjusted row heights */
    }
    
    .header__career-data-dashboard-item .header__career-data-dashboard-icon {
        grid-area: item-icon;
        background-color: var(--clr-primary-50);
        color: var(--clr-primary-500);
        border-radius: 8px;
        padding: 24px;
        font-size: 32px;
        margin-right: 16px;
        align-self: center;
    }

    .header__career-data-dashboard-item:hover .header__career-data-dashboard-icon {
        background-color: var(--clr-primary-500);
        color: white;
        transition: background-color 0.3s ease, color 0.3s ease; /* Add transition effect */
    }
    
    .header__career-data-dashboard-item .header__career-data-dashboard-title {
        grid-area: title;
        font-size: var(--size-heading-4-em);
        font-weight: 400;
        align-self: center;
    }
    
    .header__career-data-dashboard-item .header__career-data-dashboard-description {
        grid-area: description;
        font-size: var(--size-body-medium);
        font-weight: 200;
        align-self: center;
    }
}

.header {
    margin-bottom: 100px;
    background-color: var(--clr-background-primary);
}
