@media screen and (min-width: 450px) and (max-width: 979px) {
    .container__form__names {
        display: flex;
        gap: 24px;
        justify-content: center; /* Horizontally center the content */
    }
}

@media screen and (max-width: 979px) {
    .container {
        padding: 16px;
        display: flex;
        flex-direction: column; /* Stack elements vertically */
        justify-content: center; /* Vertically center the content */
        align-items: center; /* Horizontally center the content */
    }

    .container__image {
        display: none;
    }

    .container__form__links {
        width: 80%;
        text-align: left;
        margin-bottom: 48px;
    }
}

@media screen and (min-width: 980px) {
    .container {
        display: flex;
        box-sizing: border-box;
        align-items: center;
        width: 100%;
        height: 100%;
    
        padding-left: 56px;
        padding-right: 56px;
    }
    
    .container__form {
        width: 40%;
    }
    
    .container__form__links {
        width: 80%;
        text-align: left;
        margin-bottom: 48px;
    }
    
    .container__image {
        width: 60%;
        height: 100vh;
    
        overflow: hidden;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        clip-path: polygon(20% 0, 100% 0, 100% 100%, 0% 100%);
        /* border-top-left-radius: 16px; */
    }
    
    .container__image__element {
        width: 100%;
        height: 100vh;
        object-fit: cover;
        filter: grayscale(0.5);
    }
    
    .container__form__names {
        display: flex;
        gap: 24px;
    }
    
    .container__image:hover .container__image__element {
        filter: grayscale(0); /* Remove grayscale filter on hover */
    }
    
    .container__form textarea {
        width: 99%;
        height: 100px;
        overflow-y: auto;
        resize: none;
    
        margin-bottom: 24px;
    }
    
    .container__form__link {
        color: var(--clr-primary-500);
        text-decoration: none;
    }
}

.container__form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.container__form textarea {
    width: 99%;
    height: 100px;
    overflow-y: auto;
    resize: none;

    margin-bottom: 24px;
}

.container__form__heading {
    font-size: var(--size-heading-2);
}

.container__form .errorlist {
    padding-left: 8px;
    margin-left: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-left: 2px solid red;
    margin-bottom: 8px;
}

main {
    margin-bottom: 0;
}
