{% extends 'shared/base.html' %}
{% load static %}

{% block site_links %}
    <link rel="stylesheet" href="{% static 'css/company_profiles_app/employment_info.css' %}">
    <link rel="stylesheet" href="{% static 'css/shared/nav_main.css' %}">
{% endblock %}

{% block site_header %}
    {% include 'shared/nav_main.html' %}
{% endblock %}

{% block site_main %}
    <div class="employment-info">
        <h1 class="employment-info__title">Employment Info</h1>

        <form class="employment-info__form" method="post">
            {% csrf_token %}
            {{ employment_form.as_div }}
            <button class="employment-info__submit" type="submit">Submit</button>
        </form>
    </div>

{% endblock %}

