{% extends 'shared/base.html' %}
{% load static %}

{% block site_header %}
    {% include 'shared/nav_main.html' %}

    {{ job_offer_form.media.css }}
    {{ job_offer_form.media.js }}
{% endblock %}

{% block site_links %}
    <link rel="stylesheet" href="{% static 'css/listing_app/create_job_offer.css' %}">
    <link rel="stylesheet" href="{% static 'css/shared/nav_main.css' %}">
{% endblock %}



{% block site_main %}
    <h1>Create a Job Offer</h1>
    <form method="post" enctype="multipart/form-data">
        <div>
            {% csrf_token %}
            {{ listing_form }}
            {{ job_offer_form }}
        </div>
        <div>
            <button id="btn-create" type="submit">Submit</button>
        </div>
    </form>

    {% include 'shared/nav-arrow.html' %}
{% endblock %}

{% block site_scripts %}
    <script src="{% static 'js/shared/nav-arrow.js' %}"></script>
    <script src="{% static 'js/listing_app/create-listing-select-industry.js' %}"></script>
    <script src="{% static 'listing_app/grid_slider.js'%}"></script>
{% endblock %}
