{% extends 'shared/base.html' %}
{% load static %}

{% block site_header %}
    {% include 'shared/nav_main.html' %}
{% endblock %}

{% block site_links %}
    <link rel="stylesheet" href="{% static 'css/shared/nav_main.css' %}">
    <link rel="stylesheet" href="{% static 'css/listing_app/project_form.css' %}">
{% endblock %}

{% block site_main %}
<div class="create-form">
    <h1>Edit Project</h1>
    <form method="post" enctype="multipart/form-data">
        <div>
            {% csrf_token %}
            {{ listing_form }}
            {{ project_form }}
        </div>
        <div>
            <button type="submit" id="btn-submit">Edit</button>
        </div>
    </form>
</div>
{% include 'shared/nav-arrow.html' %}
{% endblock %}

{% block site_scripts %}
    <script src="{% static 'js/shared/nav-arrow.js' %}"></script>
    <script src="{% static 'js/listing_app/create-listing-select-industry.js' %}"></script>
{% endblock %}
