<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <h2>{{ object.id }} | {{ object.listing.title }}</h2>
    <p>
        LOCATION - {{ object.listing.location }}
    </p>
    <p>
        DATE CREATED - {{ object.listing.date_created }}
    </p>
    <p>
        DATE UPDATED - {{ object.listing.date_updated }}
    </p>
    <p>
        MIN SALARY - {{ object.salary_range_min }}
        MAX SALARY - {{ object.salary_range_max }}
    </p>
    <p>
        WORK ENVIRONMENT - {{ object.work_environment }}
    </p>
    <p>
        WORK COMMITMENT - {{ object.work_commitment }}
    </p>
    <p>
        KEY RESPONSIBILITIES - {{ object.key_responsibilities }}
    </p>
    <p>
        REQUIRED QUALIFICATIONS - {{ object.required_qualifications }}
    </p>
    <p>
        PREFERRED QUALIFICATIONS - {{ object.preferred_qualifications }}
    </p>
    <p>
        IMAGES:
            {{ object.listing.images }}
    </p>
</body>
</html>