{% load custom_filters %}

<div class="job-offer clickable-div" data-url="{% url 'job_offer_detail' job_offer.id %}">
    <div class="job-offer__company">
        <div class="job-offer__company-logo">
            <img src="{{ job_offer.company.company_logo.url }}" alt="No logo">

            <!-- <img src="{}" alt="No image"> -->
        </div>
    </div>
    <div class="job-offer__content">
        <div class="job-offer__details">
            <div class="job-offer__details-title">
                {{ job_offer.listing.title }}
            </div>
            <div class="job-offer__details-company-name">
                {{ job_offer.company.name }}
            </div>
            <i class="material-symbols-outlined separator">fiber_manual_record</i>
            <div class="job-offer__details-location">
                {{ job_offer.listing.location }}
            </div>

        </div>
        <div class="job-offer__extra-info">
            <div class="job-offer__work-commitment" >
                {{ job_offer.work_commitment|format_value }}
            </div>
            <span class="separator">|</span>
            <div class="job-offer__salary-range">
                <div class="job-offer__salary-min">
                    {{ job_offer.salary_range_min|format_salary }}
                </div> -
                <div class="job-offer__salary-max">
                    {{ job_offer.salary_range_max|format_salary }}
                </div>
            </div>
            
            <div class="job-offer__work-environment">
                {{ job_offer.work_environment|format_value }}
            </div>
            <div class="job-offer__remote-option">
                {% if job_offer.remote_option %}
                    <div class="job-offer__remote">Remote</div>
                {% else %}
                    <div class="job-offer__not-remote">Not Remote</div>
                {% endif %}
            </div>
        </div>
        <div class="job-offer__controls">
            {% if not user|is_associate:job_offer.company_id %}
                <a href="{% url 'create_job_offer_application' job_offer.id %}" class="job-offer__details-link apply">Apply</a>
            {% endif %}
            <a href="{% url 'job_offer_detail' job_offer.id %}" class="job-offer__details-link more">More</a>
        </div>
    </div>
</div>