{% extends 'shared/base.html' %}
{% load static %}

{% block site_header %}
    {% include 'shared/nav_main.html' %}
{% endblock %}

{% block site_links %}
    <link rel="stylesheet" href="{% static 'css/shared/nav_main.css' %}">
    <link rel="stylesheet" href="{% static 'css/listing_app/job_offer_detail.css' %}">
{% endblock %}

{% block site_main %}
    <div class="job-offer">
        <h2 class="job-offer__title">{{ object.id }} | {{ object.listing.title }}</h2>

        <div class="company-details">
            <div class="company-details__info">
                <div class="company-details__logo">
                    <img src="{{ object.company.company_logo.url }}" alt="No logo">
                </div>
                <div class="company-details__name">{{ object.company.name }}</div>
            </div>
            <div class="company-details__contacts">
                <h3 class="company-contacts__heading">Company details</h3>
                <div class="company-details__address">
                    <div class="company-details__label">Address: </div>
                    <div class="company-details__value">{{ object.company.address }}</div>
                </div>
                <div class="company-details__secondary-address">
                    <div class="company-details__label">Second address</div>
                    <div class="company-details__value">{{ object.company.secondary_address }}</div>
                </div>
                <div class="company-details__website">
                    <div class="company-details__label">Website</div>
                    <div class="company-details__value">{{ object.company.website }}</div>
                </div>
            </div>
        </div>

        <div class="content">
            <div class="general-info">
                <div class="general-info__detail">
                    <div class="general-info__label">Location:</div>
                    <div class="general-info__value">{{ object.listing.location }}</div>
                </div>
                <div class="general-info__detail">
                    <div class="general-info__label">Date Created:</div>
                    <div class="general-info__value">{{ object.listing.date_created }}</div>
                </div>
                <div class="general-info__detail">
                    <div class="general-info__label">Date Updated:</div>
                    <div class="general-info__value">{{ object.listing.date_updated }}</div>
                </div>
                <div class="general-info__detail">
                    <div class="general-info__label">Salary Range:</div>
                    <div class="general-info__value">${{ object.salary_range_min }} - ${{ object.salary_range_max }}</div>
                </div>
                <div class="general-info__detail">
                    <div class="general-info__label">Remote Option:</div>
                    <div class="general-info__value">
                        {% if object.remote_option %}
                            Yes
                        {% else %}
                            No
                        {% endif %}
                    </div>
                </div>
                <div class="general-info__detail">
                    <div class="general-info__label">Work Environment:</div>
                    <div class="general-info__value">{{ object.work_environment }}</div>
                </div>
                <div class="general-info__detail">
                    <div class="general-info__label">Work Commitment:</div>
                    <div class="general-info__value">{{ object.work_commitment }}</div>
                </div>
            </div>

            <div class="additional-info">
                <div class="additional-info__detail">
                    <div class="additional-info__label">Description:</div>
                    <div class="additional-info__value">{{ object.listing.description }}</div>
                </div>
                <div class="additional-info__detail">
                    <div class="additional-info__label">Benefits</div>
                    <div class="additional-info__value">{{ object.benefits }}</div>
                </div>
                <div class="additional-info__detail">
                    <div class="additional-info__label">Key Responsibilities</div>
                    <div class="additional-info__value">{{ object.key_responsibilities }}</div>
                </div>
                <div class="additional-info__detail">
                    <div class="additional-info__label">Required Qualifications</div>
                    <div class="additional-info__value">{{ object.required_qualifications }}</div>
                </div>
                <div class="additional-info__detail">
                    <div class="additional-info__label">Preferred Qualifications</div>
                    <div class="additional-info__value">{{ object.preferred_qualifications }}</div>
                </div>
            </div>
        </div>

        <div class="apply-button">
            <a class="apply-button__link" href="{% url 'create_job_offer_application' object.id %}">Apply</a>
        </div>
    </div>
{% endblock %}
