{% extends 'shared/base.html' %}
{% load static %}

{% block site_links %}
    <link rel="stylesheet" href="{% static 'css/shared/nav_main.css' %}">
    <link rel="stylesheet" href="{% static 'css/listing_app/job_offers_catalog.css' %}">
    <link rel="stylesheet" href="{% static 'css/listing_app/projects_catalog.css' %}">
{% endblock %}

{% block site_header %}
    {% include 'shared/nav_main.html' %}
{% endblock %}

{% block site_main %}
    <div class="listing-list">
        {% for listing in listings %}
            {% if listing.project %}
                {% include 'listing_app/project_card.html' with project=listing.project %}
            {% elif listing.job_offer %}
                {% include 'listing_app/job_offer_card.html' with job_offer=listing.job_offer %}
            {% endif %}
        {% endfor %}
    </div>

    {% include 'shared/nav-arrow.html' %}
{% endblock %}
