<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
     <h2>{{ object.id }} | {{ object.listing.title }}</h2>
    <p>
        LOCATION - {{ object.listing.location }}
    </p>
    <p>
        DATE CREATED - {{ object.listing.date_created }}
    </p>
    <p>
        DATE UPDATED - {{ object.listing.date_updated }}
    </p>
    <p>
        WAGE - {{ object.wage }}
    </p>
    <p>
        PREFERRED PAYMENT - {{ object.preferred_payment }}
    </p>
    <p>
        STATUS - {{ object.status }}
    </p>
    <p>
        ESTIMATED DURATION - {{ object.estimated_duration }}
    </p>
</body>
</html>
