{% extends 'shared/base.html' %}
{% load static %}

{% block site_links %}
    <link rel="stylesheet" href="{% static 'css/shared/nav_main.css' %}">
    <link rel="stylesheet" href="{% static 'css/listing_app/projects_catalog.css' %}">
    <link rel="stylesheet" href="{% static 'css/listing_app/pagination.css' %}">
{% endblock %}

{% block site_header %}
    {% include 'shared/nav_main.html' %}
{% endblock %}

{% block site_main %}
<div class="project">
    {% for project in projects %}
        {% include 'listing_app/project_card.html' with project=project %}
    {% endfor %}

    <div class="pages">
        <div class="pages__previous">
            {% if projects.has_previous %}
                <button class="pages__button">
                    <a href="?page={{ projects.previous_page_number }}">
                        <i class="material-symbols-outlined pages__icon">arrow_back</i>Previous
                    </a>
                </button>
            {% else %}
                <button class="pages__button pages__button--disabled" disabled>
                    <a>
                        <i class="material-symbols-outlined pages__icon">arrow_back</i>Previous
                    </a>
                </button>
            {% endif %}
        </div>
        <div class="pages__current">
            {{ projects.number }}/{{ projects.paginator.num_pages }}
        </div>
        <div class="pages__next">
            {% if projects.has_next %}
                <button class="pages__button">
                    <a href="?page={{ projects.next_page_number }}">Next
                        <i class="material-symbols-outlined pages__icon">arrow_forward</i>
                    </a>
                </button>
            {% else %}
                <button class="pages__button pages__button--disabled" disabled>
                    <a>Next
                        <i class="material-symbols-outlined pages__icon">arrow_forward</i>
                    </a>
                </button>
            {% endif %}
        </div>
    </div>
</div>

{% include 'shared/nav-arrow.html' %}
{% endblock %}

{% block site_scripts %}

    <script>
        function loadScript() {
            console.log('in')
            console.log(window.matchMedia("(max-width: 899px)").matches)
            if (window.matchMedia("(max-width: 899px)").matches) {
                var script = document.createElement("script");
                script.src = '{% static "js/shared/clickable-div.js" %}'
                console.log(script)
                document.querySelector('main').appendChild(script);
            }
        }

        document.addEventListener('DOMContentLoaded', loadScript);
        console.log('hi');
        // window.onload = loadScript;
    </script>
{% endblock %}