{% load static %}

<footer class="footer">
    <div class="footer__logo">
        <div class="footer__logo-container">
            <img src="{% static 'images/work-pal-high-resolution-logo-transparent.png' %}" alt="LOGO" class="footer__logo-image">
        </div>
        <p class="footer__description">
            Workpal dynamically connects job seekers with employers or clients through diverse listings, facilitating efficient hiring and collaboration in the job market.
        </p>
    </div>
    <div class="footer__quick-links">
        <h3 class="footer__title">Quick Link</h3>
        <ul class="footer__list">
            <li class="footer__list-item">
                <a href="{% url 'projects_catalog' %}" class="footer__link"><i class="material-symbols-outlined">arrow_forward</i> Browse Projects</a>
            </li>
            <li class="footer__list-item">
                <a href="{% url 'job_offers_catalog' %}" class="footer__link"><i class="material-symbols-outlined">arrow_forward</i> Browse Job Offers</a>
            </li>
            <li class="footer__list-item">
                <a href="{% url 'create_project' %}" class="footer__link"><i class="material-symbols-outlined">arrow_forward</i> Create Project</a>
            </li>
            <li class="footer__list-item">
                <a href="{% url 'dashboard' %}" class="footer__link"><i class="material-symbols-outlined">arrow_forward</i> See your activity</a>
            </li>
        </ul>
    </div>
    <div class="footer__more-links">
        <h3 class="footer__title">Quick Link</h3>
        <ul class="footer__list">
            <li class="footer__list-item">
                <a href="{% url 'projects_catalog' %}" class="footer__link"><i class="material-symbols-outlined">arrow_forward</i> Browse Projects</a>
            </li>
            <li class="footer__list-item">
                <a href="{% url 'job_offers_catalog' %}" class="footer__link"><i class="material-symbols-outlined">arrow_forward</i> Browse Job Offers</a>
            </li>
            <li class="footer__list-item">
                <a href="{% url 'create_project' %}" class="footer__link"><i class="material-symbols-outlined">arrow_forward</i> Create Project</a>
            </li>
            <li class="footer__list-item">
                <a href="{% url 'dashboard' %}" class="footer__link"><i class="material-symbols-outlined">arrow_forward</i> See your activity</a>
            </li>
        </ul>
    </div>
    <div class="footer__social-media">
        <div class="footer__social-icons">
            <i class="footer__icon fa-brands instagram fa-instagram"></i>
            <i class="footer__icon fa-brands facebook fa-facebook"></i>
            <i class="footer__icon fa-solid envelope fa-envelope"></i>
            <i class="footer__icon fa-brands linkedin fa-linkedin"></i>
        </div>
    </div>
    <div class="footer__rights">
        <p class="footer__rights-text">&copy; 2024 WorkPal - Ivan Parvanovski all rights reserved.</p>
    </div>
</footer>