<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <style>
        h3 {
            padding-left: 10px;
        }

        .my-grid {
            display: flex;
            padding-top: 50px;
        }
        .my-grid div {
            margin: 0 auto;
            width: 25%;
        }
        .accepted {
            background-color: lightgreen;
        }
        .rejected {
            background-color: lightcoral;
        }

    </style>
</head>
<body>
    <h2>Dashboard</h2>

    {% if user.is_authenticated %}
        <h3>Projects</h3>
        <div>
            <a href="{% url 'user_projects' %}">Your Projects</a>
            <a href="{% url 'create_project' %}">Create Project</a>
        </div>

        <h3>Job Offer</h3>
        <div>
            <a href="{% url 'user_job_offers' %}">Your Job Offers</a>
            <a href="{% url 'create_job_offer' %}">Create Job Offer</a>
        </div>

        <h3>Companies</h3>
        <div>
            <a href="{% url 'user_companies' %}">Your Companies</a>
            <a href="{% url 'create_company' %}">Create Company</a>
        </div>

        <div class="my-grid">

            <div>
                ASSOCIATION REQUEST

                {% for association_requests_for_company in association_requests %}
                    {% for association_request in association_requests_for_company %}
                        <p>{{ association_request }}</p>

                        <form action="{% url 'accept_association_request' association_request.id %}" method="post">
                            {% csrf_token %}
                            <button type="submit">Accept</button>
                        </form>

                        <form action="{% url 'reject_association_request' association_request.id %}" method="post">
                            {% csrf_token %}
                            <button type="submit">Reject</button>
                        </form>
                    {% endfor %}
                {% endfor %}
            </div>

            <div>
                APPLICATIONS TO YOUR PROJECTS
                {% for project_applications in applications_for_projects %}
                    {% for application in project_applications %}
                        <p>{{ application }}</p>

                        <form action="{% url 'accept_application' application.id %}" method="post">
                            {% csrf_token %}
                            <button type="submit">Accept</button>
                        </form>

                        <form action="{% url 'reject_application' application.id %}" method="post">
                            {% csrf_token %}
                            <button type="submit">
                                Reject
                            </button>
                        </form>
                    {% endfor %}
                {% endfor %}
            </div>
            <div>
                APPLICATIONS TO YOUR JOB OFFERS

                {% for company_job_offers in companies_applications_for_job_offers %}
                    {% for job_offer in company_job_offers %}
                        <p>{{ job_offer }}</p>
                        <form action="{% url 'accept_application' job_offer.id %}" method="post">
                            {% csrf_token %}
                            <button type="submit">Accept</button>
                        </form>

                        <form action="{% url 'reject_application' job_offer.id %}" method="post">
                            {% csrf_token %}
                            <button type="submit">
                                Reject
                            </button>
                        </form>
                    {% endfor %}
                {% endfor %}
            </div>
            <div>
                APPLICATION STATUS

                {% for application in application_status %}
                    {% if application.is_approved %}
                        <p class="accepted">{{ application }}</p>
                    {% else %}
                        <p class="rejected">{{ application }}</p>
                    {% endif %}
                {% endfor %}
            </div>
        </div>

    {% endif %}

</body>
</html>