<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2>Your Projects</h2>

    <div>
        PROJECTS

        {% for project in user_projects %}
            <p>
                <a href="#project-details">
                    {{ project }}
                </a>
                <a href="{% url 'edit_project' project.id %}">Edit</a>

                <form action="{% url 'delete_project' project.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit">Delete</button>
                </form>
            </p>
        {% endfor %}
    </div>
</body>
</html>