{% extends 'shared/base.html' %}
{% load static %}

{% block site_header %}
    {% include 'shared/nav_main.html' %}
{% endblock %}

{% block site_links %}
    <link rel="stylesheet" href="{% static 'css/shared/nav_main.css' %}">
    <link rel="stylesheet" href="{% static 'css/listing_app/projects_catalog.css'%}">
    <link rel="stylesheet" href="{% static 'css/dashboard/user_projects.css' %}">
{% endblock %}

{% block site_main %}
    {% for project in user_projects %}
    <div class="project">
        {% include 'listing_app/project_card.html' with project=project %}

        <div class="controls">
            <a class="controls__edit" href="{% url 'edit_project' project.id %}">Edit</a>
            <form class="controls__delete-form" action="{% url 'delete_project' project.id %}" method="post">
                {% csrf_token %}
                <button class="controls__delete" type="submit">Delete</button>
            </form>
        </div>
    </div>
    {% endfor %}

    {% include 'shared/nav-arrow.html' %}
{% endblock %}

{% block site_scripts %}
    <script src="{% static 'js/shared/nav-arrow.js' %}"></script>
{% endblock %}
