{% extends 'shared/base.html' %}
{% load static %}
{% load custom_filters %}
{% load permission_filters %}

{% block site_header %}
    {% include 'shared/nav_main.html' %}
{% endblock %}

{% block site_links %}
    <link rel="stylesheet" href="{% static 'css/dashboard/user_associates.css' %}">
    <link rel="stylesheet" href="{% static 'css/shared/nav_main.css' %}">
    <link rel="stylesheet" href="{% static 'css/dashboard/no-results.css' %}">
{% endblock %}

{% block site_main %}

    {% if not has_associates %}
        <div class="no-message-container">
            <div class="message">
                <h1 class="message__title">Company Affiliation Required for Association!</h1>
   
               <p class="message__text">
                   To have associates, you must be affiliated with a company.
               </p>
               <div class="message__action">
                   <a href="{% url 'dashboard' %}" class="message__link dashboard">View Dashboard</a>
                   <a href="{% url 'create_company' %}" class="message__link action">Add company <i class="material-symbols-outlined">arrow_forward</i></a>
               </div>
           </div>
        </div>
      
    {% else %}
        <div class="companies-associates">
        {% for company_associates in companies_associates %}
            {% for associate in company_associates %}
            <div class="associate-card">
                <div class="associate-card__info">
                    <div class="associate-card__avatar">
                        <img src="{{ associate.profile.image.url }}" alt="No image">
                    </div>
                    <div class="associate-card__username">{{ associate.profile.user.username }}</div>
                    <div class="associate-card__email">{{ associate.profile.user.email }}</div>
                    <div class="associate-card__job-title">{{ associate.profile.job_title }}</div>
                    <div class="associate-card__associate-job-title">{{ associate.job_title }}</div>
                </div>
            
                <div class="associate-card__actions">
                     {% with current_company=associate.company.name %}
                         {% with permission_string='company_profiles_app.can_give_rights_'|add:current_company %}
                             {% if user|has_permission:permission_string %}
                                 {% with permission_string_associate='company_profiles_app.can_verify_associate_'|add:current_company %}
                                     {% if associate.profile.user|has_permission:permission_string_associate %}
                                        <a class="associate-card__action selected">Make Associate Moderator</a>
                                     {% else %}
                                        <a href="{% url 'make_association_moderator' user_to_grant_rights_id=associate.profile_id company_id=associate.company.id %}" class="associate-card__action">Make Associate Moderator</a>
                                     {% endif %}
                                 {% endwith %}
                                 {% with permission_string_adjudicate='application_app.can_adjudicate_application_'|add:current_company %}
                                     {% if associate.profile.user|has_permission:permission_string_adjudicate %}
                                         <a class="associate-card__action selected">Make Application Moderator</a>
                                     {% else %}
                                         <a href="{% url 'make_application_moderator' user_to_grant_rights_id=associate.profile.id company_id=associate.company.id %}" class="associate-card__action">Make Application Moderator</a>
                                     {% endif %}
                                 {% endwith %}
                                 {% with permission_string_rights='company_profiles_app.can_give_rights_'|add:current_company %}
                                     {% if associate.profile.user|has_permission:permission_string_rights %}
                                         <a class="associate-card__action selected">Make Rights Manager</a>
                                     {% else %}
                                         <a href="{% url 'make_rights_manager' user_to_grant_rights_id=associate.profile.id company_id=associate.company.id %}" class="associate-card__action">Make Rights Manager</a>
                                     {% endif %}
                                 {% endwith %}
                                 {% with permission_string_can_add_job_offer='listing_app.can_add_job_offer_'|add:current_company permission_string_change_job_offer='listing_app.can_change_job_offer_'|add:current_company permission_string_delete_job_offer='listing_app.can_delete_job_offer_'|add:current_company %}
                                    {% if associate.profile.user|has_permission:permission_string_can_add_job_offer and associate.profile.user|has_permission:permission_string_change_job_offer and associate.profile.user|has_permission:permission_string_delete_job_offer %}
                                        <a class="associate-card__action selected">Make Listings Manager</a>
                                    {% else %}
                                        <a href="{% url 'make_listings_manager' user_to_grant_rights_id=associate.profile.id company_id=associate.company.id %}" class="associate-card__action">Make Listings Manager</a>
                                    {% endif %}
                                 {% endwith %}
                             {% endif %}
                         {% endwith %}
                     {% endwith %}
                 </div>
            </div>
            {% endfor %}
        {% endfor %}
        </div>
    {% endif %}


    {% include 'shared/nav-arrow.html' %}

{% endblock %}
