<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div>
        COMPANIES

        {% for c in user_companies %}
            <div>
                <a href="">{{ c }}</a>
                <a href="{% url 'edit_company' c.id %}">Edit</a>

                <form action="{% url 'delete_company' c.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit">Delete</button>
                </form>
            </div>

        {% endfor %}
    </div>
</body>
</html>