{% extends 'shared/base.html' %}
{% load static %}


{% block site_header %}
    {% include 'shared/nav_main.html' %}
    
{% endblock %}

{% block site_links %}
    <link rel="stylesheet" href="{% static 'css/application_app/create_project_application.css' %}">
    <link rel="stylesheet" href="{% static 'css/shared/nav_main.css' %}">
{% endblock %}

{% block site_main %}
    <div class="project-application">
        <h2 class="project-application__title">Project Application</h2>
        <div class="project-application__form-container">
            <form class="project-application__form" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ project_application_form.as_div }}
                <button class="project-application__submit-btn" type="submit">Submit</button>
            </form>
        </div>
    </div>
{% endblock %}
